<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/formCss.css') }}"
    />
    <link href="D:\Flask\static\formCss.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg"
          alt=""
          width="72"
          height="72"
        />
        <h2>Form No Objection Certificate</h2>
        <p class="lead">
          It will help you to convert your filled information into word file
        </p>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Fill Up</h4>
        <form
          class="needs-validation"
          novalidate=""
          method="POST"
          action="/generateForm3"
        >
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="DirectorName">Owner name</label>
              <input
                name="owner"
                type="text"
                class="form-control"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Owner's name is required.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="DirectorName">Director name</label>
              <input
                name="director"
                type="text"
                class="form-control"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Directors' name is required.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="CompanytName">Company name</label>
              <input
                name="company"
                type="text"
                class="form-control"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Company's name is required.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Address">Address</label>
              <input
                name="addressp"
                type="text"
                class="form-control"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Address is required.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Address">City</label>
              <input
                name="city"
                type="text"
                class="form-control"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">City is required.</div>
            </div>
          </div>
          <hr class="mb-4" />
          <button class="btn btn-primary btn-lg btn-block">
            Generate
          </button>
        </form>
      </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2019 Company Name</p>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
  </body>
</html>
